.glass-card {
  width: 300px;
  margin: auto;
  height: 400px;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.glass-card:hover {
  width: 300px;
  margin: auto;
  height: 400px;
  box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.img-section img {
  width: 100%;
}
.details-section {
  text-align: center;
}
.details-section p {
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 10px;
}
.details-section span {
  background-color: rgb(112, 177, 233);
  padding: 5px 20px;
  border-radius: 5px;
  cursor: pointer;
}
